#range-inp-1::-webkit-slider-thumb,
#range-inp-2::-webkit-slider-thumb {
  pointer-events: all;
  background-color: rgb(149, 1, 255);
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
